{% extends 'base.html.twig' %}

{% block title %}Ajouter un employé{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if edit %}
    <h1>Editer un employé</h1>
    {% else %}
    <h1>Ajouter un employé</h1>    
    {% endif %}

    {{form (formAddEmploye)}}

    
{% endblock %}
